/*
Custom Css
*/
.badge-success {
    background-color: #28a745;
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.badge-secondary {
    background-color: none ;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.dropdown-item:focus, 
.dropdown-item:active {
      box-shadow: none !important;
      outline: none !important;
      background-color: transparent !important; /* Remove the blue background */
      color: inherit !important; /* Keep the original text color */
}

/* Shop-single */

